div {
    height: 25vh;
    width: auto;
    background-color: red;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 5em sans-serif;
}

body {
    margin: 0px;
}