div {
    height: 25vh;
    width: auto;
    background-color: red;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 5em sans-serif;
}

.red {
    background-color: red;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
.purple {
    background-color: purple;
}
.teal {
    background-color: teal;
}

body {
    margin: 0px;
}